/* 添加 CSS */

.downlayer {
  width: 420px;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid black;
  text-align: center;
  background-color: 		#5F9EA0;
  color: white;

}

.title {
  width:400px;
  text-align: left;
  padding-left: 35px;
  top: 5px;
  position: inherit;
  margin: auto;
  font-weight: bold;


}
.picture {
  width: 350px;
  height: 230px;
}

.list {
  text-align: left;
  list-style-type: none;
  padding-left: 1px;
}

.uplayer{
  width:330px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.describe {
  font-style: italic;
}
