/* 添加 CSS */

.downlayer {
  width: 520px;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid black;
  text-align: center;

}

.title {
  width:500px;
  text-align: left;
  padding-left: 26px;
  top: 5px;
  position: inherit;
  margin: auto;
  font-weight: bold;


}
.picture {
  width: 470px;
}
.uplayer{
  width:450px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-style: italic;
}
